.rdn-header-social li,
.dropdown-menu > .active > a, 
.dropdown-menu > .active:hover > a, 
.dropdown-menu > .active:focus > a, 
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open:hover > a, 
.navbar-default .navbar-nav > .open:focus > a, 
.navbar-default .navbar-nav .open .dropdown-menu > li:hover > a, 
.navbar-default .navbar-nav .open .dropdown-menu > li:focus > a,
.rdn-slider-btn,
.carousel-control:hover,
.carousel-control:focus,
.carousel-indicators .active,
#rdn-callout,
.section-desc:before,
.rdn-service-icon,
.rdn-service-btn,
.rdn-service-btn:hover,
.more-link,
.rdn-portfolio-tabs .active,
.carousel-control-testi.left:hover, 
.carousel-control-testi.left:focus,  
.carousel-control-testi.right:hover, 
.carousel-control-testi.right:focus,
.team-more-link,
.rdn-page-social li:hover,
.portfolio-link,
.widget .widget-title:after,   
.widget_calendar #wp-calendar caption, 
.widget_calendar tbody a, 
.widget_calendar tbody a:hover, 
.widget_calendar tbody a:focus,
.tagcloud a:hover,
.tagcloud a:focus,
.footer-social-icons li:hover,
.pagination .current a, 
.pagination .current:hover a, 
.pagination .current:focus a,
.pagination li:hover a, 
.pagination li:focus a,
.nav-links li span.current,
.nav-links li:hover span.current, 
.nav-links li:focus span.current,
.page-links > a:hover,
.rdn_page_scroll,
.post-style-header,
.pricing_wrapper.active,
.pricing_wrapper .pricing_footer a,
.home-news-date,
.client-navigation .carousel-control-client,
.contact-icon i,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"]{ 
	background-color: #5896DE; 
}

#rdn-top-header .rdn-header-contact i,
.navbar-default .navbar-nav > .current_menu_item > a:after,
.navbar-default .navbar-nav > .active > a:after, 
.navbar-default .navbar-nav > li:hover > a:after, 
.navbar-default .navbar-nav > li:focus > a:after,
a:hover,
a:focus,
.navbar-default .navbar-nav > .current_page_item > a:after,
.carousel-control,
.carousel-caption .rdn-slider-btn:hover,
.rdn-callout-btn:hover,	
.rdn-portfolio-tabs li a,
.testimonial-content:before, 
.testimonial-content:after, 
.testimonial-title,
.carousel-control-testi.left .fa, 
.carousel-control-testi.right .fa,
.team-degignation,
.entry-title a:hover,
.entry-title a:focus, 
.entry-meta span a:hover, 
.entry-meta span a:focus,
#rdn-footer .widget li a:hover, 
#rdn-footer .widget li a:focus, 
#rdn-footer .widget li a:active, 
.widget .news-title a:hover, 
.widget .news-title a:focus,.widget-title a, 
.widget-title a:hover,  
.widget-title a:focus, 
.widget  li  a:hover, 
.widget  li  a:focus,  
.widget li:before, 
.widget_calendar #wp-calendar th, 
.tagcloud a, 
.widget_text a:hover, 
.widget_text a:focus,
.widget_radon_contact_widget i,
#rdn-footer .widget .news-title a:hover, 
#rdn-footer .widget .news-title a:focus,
.rdn-footer-menu li a:hover, 
.rdn-footer-menu li a:focus,
#rdn-footer .widget a:hover, 
#rdn-footer .widget a:focus,
.rdn-sub-header ul li:before,
.reply:before,
.pagination li a,
.page-links a,
.entry-style-date span strong,
.rdn-slider-title > strong,
.pricing_wrapper .pricing_price .price_content strong{ 
	color:#5896DE; 
}

.navbar-default .navbar-nav > li:hover > a, 
.navbar-default .navbar-nav > li:focus > a, 
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active:hover > a, 
.navbar-default .navbar-nav > .active:focus > a, 
.navbar-default .navbar-nav > .current_menu_item > a, 
.navbar-default .navbar-nav > .current_menu_item:hover > a, 
.navbar-default .navbar-nav > .current_menu_item:focus > a, 
.navbar-default .navbar-nav > .current_page_item > a,
.navbar-default .navbar-nav > .open:hover > a, 
.navbar-default .navbar-nav > .open:focus > a{
	background-color: #5896DE;
}

.dropdown-menu{
	border-top: 3px solid #5896DE;
	border-bottom: 3px solid #5896DE;
}

.carousel-control,
.carousel-control:hover,
.rdn-page-social li:hover,
.pagination li a, 
.pagination li a:hover, 
.pagination li a:focus,
.nav-links li span.current, 
.nav-links li:hover span.current, 
.nav-links li:focus span.current,
.page-links a{ 
	border: 1px solid #5896DE; 
}

.carousel-caption .rdn-slider-btn,
.more-link{ 
	border: 2px solid #5896DE; 
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	border-color: #5896DE;
}

.carousel-caption h1{ 
	background-color:rgba(88, 150, 222, 0.7); 
}
.entry-style-date span strong{
	border:5px solid #5896DE;
}

blockquote { border-left: 4px solid #5896DE; }

.rdn-sub-header ul li:first-child:before{ display:none; }